html{
    background-color: gainsboro;
    box-sizing: border-box;

}

body{
    width: 90%;
    height: 900px;
    margin: 80px auto;
    padding: 20px 0;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    color: hsl(234, 12%, 34%);
    text-align: center;

}
p, span{color: hsl(229, 6%, 66%);}

#first{
    width: 40%;
    margin: auto;

}
#second{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 60px auto;
    padding: 0 60px;

}
.column{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}
.card{
    background-color: white;
    width: 90%;
    display: block; 
    text-align: left;
    padding: 5px 20px;
    margin-top: 25px;
    box-shadow: 2px 5px 10px hsl(229, 6%, 66%);

}
#card1{
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
}
#card2{
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 5px;
}
#card3{
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 5px;
}
#card4{
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 5px;
}

.card footer{
    text-align: right;
}
img{
    width: 20%;
    margin-top: 10%;
}
@media screen and (max-width : 700px){
   
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 20px;
        font-size: 2vw;
    }
    #second{
       flex-direction: column;
       flex-wrap: wrap;
       align-content: center;
       margin-top: 4px;
       width: 60%;

    }
    .column{
        width: 90%;
        align-items: center;
    }
    .card{
        width: 100%;
    }
    #first{
        justify-content: center;
        width: 82%;
        box-sizing: border-box;
        padding: 0 70px;

    }    

}
